.main-content {
	color: #ffffff;
	background-color: #D74034;
	height: 100vh;
}
.main-content-area {
	padding-left: 50px;
	padding-top: 15px;
}
.main-nav {
	padding-top: 50px;
	padding-left: 50px;
}
.main-nav h3 {
	display: inline;
	margin-right: 20px;
	opacity: .6;
}
.main-nav h3.active {
	border-bottom: 3px solid #ffffff;
	opacity: 1;
}
.site-link:hover {
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.site-link:visited {
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.site-link:link {
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.main-nav a:link {
	text-decoration: none;
	color: #ffffff;
}
/*=== Social icons ===*/
.social-icons a {
  opacity: 1;
  margin-left: 9px;
  margin-right: 9px;
  filter: alpha(opacity=1);
  color: #ffffff;
  font-size: 1.3em;
  position: relative;
  bottom: 0;
  border-bottom: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-icons a:hover {
  opacity: 1;
  filter: alpha(opacity=1);
  color: #fff;
  bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}