.main-nav a {
	color: #ffffff;
}
.main-nav a:hover {
	color: #ffffff;
}
.main-nav a:visited {
	color: #ffffff;
}
.main-nav a:link {
	color: #ffffff;
}
.main-content {
	color: #ffffff;
	background-color: #D74034;
	height: 100vh;
}
.projects {
	display: none;
}
.contact {
	display: none;
}
.main-bio {
	padding: 50px;
}
.main-nav {
	padding-bottom: 15px;
}
.main-nav h3 {
	display: inline;
	margin-right: 15px;
	opacity: .6;
}
.main-nav h3.active {
	border-bottom: 3px solid #ffffff;
	opacity: 1;
	transition: 0.2s;
}
.site-link:hover {
	border-bottom: 1px solid #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.site-link:visited {
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.site-link:link {
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
	color: #ffffff;
}
.main-nav a:link {
	text-decoration: none;
	color: #ffffff;
}
.mb-break {
	display: none;
}
@media only screen and (max-width: 640px) and (orientation: portrait) {
    .mb-break {
		display: block;
		margin: 10px 0px 0px 0px;
	}
}