@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;

}
h1 {
    font-size: 2em;
}
.profile {
    color: #363636;
    background-color: #F1EDEE;
    height: 100vh;
}
.prof-content {
    text-align: center;
}
.prof-desc {
    margin-top: 30px;
    font-family: 'proxima_nova_rgregular', Helvetica, sans-serif;
}
.prof-desc p {
    margin-top: 30px;
    line-height: 1.8em;
}
.prof-desc a {
    border-bottom: 1px dotted #363636;
    transition: border-bottom 1s ease-in-out;
    color: #363636;
    text-decoration: none;
}
.prof-desc a:hover {
    text-decoration: none;
    border-bottom: 1px solid #363636;
    color: #363636;
}
.prof-desc a:visited {
    text-decoration: none;
    color: #363636;
}
.prof-picture {
    margin-top: 50px;
}
.img-fluid {
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}
.img-fluid:hover {
    transform: scale(1.05);
}
.copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    font-size: 0.8em;
}
.below-copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 0.5em;
}
.below-copyright a {
    border-bottom: 1px dotted #363636;
    color: #363636;
    text-decoration: none;
}
.below-copyright a:hover {
    text-decoration: none;
}
/*=== Social icons ===*/
.social-icons a {
    opacity: 1;
    margin-left: 9px;
    margin-right: 9px;
    filter: alpha(opacity=1);
    color: #363636;
    font-size: 1.3em;
    position: relative;
    bottom: 0;
    border-bottom: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .social-icons a:hover {
    opacity: 1;
    filter: alpha(opacity=1);
    color: #363636;
    bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }